body {
    background-image: url(./images/shutterstock_1029816886.jpg);
    max-width: 600px;
    margin: auto;
}

img{
    width: 1000px;
    height: 1000px;
    display: block;
   margin-left: -32%;
   display: block;
    
}
/* h1 {
    text-align: center;
    letter-spacing: 20px;
    color: lightcoral;
    line-height: 50%;
    
} */

h2 {
    font-size: 55px;
    font-family: "hanuman", sans-serif;
}

a {
    text-decoration: none;
    color: lightcoral;
}

ul {
    text-align: left;
}

li {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    line-height: 200%;
}

div.text {
    text-align: left;
    line-height: 200%;
    
}

h3 {
    font-weight: normal;
    line-height: 200%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

  .column {
    float: left;
    width: 15%;
    padding: 0px;
    margin-left: 5%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }

 .pic {
      width: 60px;
      height: 60px;
      display: inline;
    
  }

  hr {
     height: 20%;
  }


@media only screen and (max-width: 400px)  {
    body{
        margin-left: 10%;
    }
}

  @media only screen and (max-width:400px) {
    /* For mobile phones: */
     h2, a, ul, li, div.text, h3{
      width: 100%;
      margin-right: auto;
    }
  }
  @media only screen and  (max-width: 600px) {
      img{
          display: block;
          margin-left: -20%;
          /* margin-right: auto;
         */
      }

  }
      